# Exercise 1

In [47]:
import os
from sqlalchemy import create_engine
import pandas as pd
pd.set_option('display.max_columns', 20)

In [48]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

### Q1: 埼玉県で一番小さい面積の市町村を調べる

In [49]:
# " "のなかにSQL文を記述
sql = "select nl_name_2, st_area(geom::geography)/1000000 as area_km2 from adm2 \
		where name_1='Saitama' \
		order by area_km2 \
		limit 1;"

In [50]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

  nl_name_2  area_km2
0        蕨市  6.587194

### Q2. 都道府県ごとに一番大きい面積を有する市町村を調べる

In [130]:
# " "のなかにSQL文を記述
sql = "SELECT name_1, nl_name_2, area_km2 \
		FROM ( \
    		SELECT DISTINCT ON (name_1) name_1, nl_name_2, st_area(geom::geography)/1000000 as area_km2 \
   			FROM adm2 \
    		ORDER BY name_1, area_km2 DESC \
		) AS subquery \
		ORDER BY area_km2 DESC;"

In [131]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

       name_1 nl_name_2     area_km2
0        Gifu       高山市  2173.869108
1    Shizuoka       浜松市  1502.644477
2     Tochigi       日光市  1444.964660
3    Hokkaido       足寄町  1406.101261
4    Yamagata       鶴岡市  1343.268161
5      Toyama       富山市  1255.339885
6       Akita     由利本荘市  1236.171305
7   Hiroshima       庄原市  1233.377442
8   Fukushima      いわき市  1212.132562
9     Niigata       村上市  1183.739695
10      Iwate       一関市  1139.296242
11   Wakayama       田辺市  1049.130028
12     Nagano       松本市   943.137861
13      Aichi       豊田市   914.965700
14       Oita       佐伯市   908.719706
15      Fukui       大野市   878.521299
16  Yamaguchi       岩国市   867.025699
17     Aomori       むつ市   862.180065
18   Miyazaki       延岡市   856.952041
19      Kyoto       京都市   842.330823
20    Okayama       真庭市   837.347796
21   Kumamoto       天草市   804.547532
22     Miyagi       栗原市   797.118964
23      Gunma     みなかみ町   774.454536
24    Tottori       鳥取市   768.715239
25   Ishikawa       白山市   761.147583
26    Shimane       益田市   748.077773
27   Naoasaki       対馬市   733.059993
28  Tokushima       三好市   722.317614
29  Kagoshima     薩摩川内市   712.877024
30      Hyōgo       豊岡市   694.876368
31        Mie        津市   687.502311
32      Shiga       琵琶湖   685.857751
33       Nara      十津川村   666.678657
34      Kochi      四万十町   635.662023
35  Yamanashi       北杜市   603.419951
36      Ehime     久万高原町   582.493890
37    Saitama       秩父市   580.613825
38       Saga       唐津市   493.344521
39    Fukuoka      北九州市   484.535131
40   Kanagawa       横浜市   423.085754
41     Kagawa       高松市   386.483827
42    Ibaraki     常陸太田市   373.051040
43      Chiba       市原市   372.896963
44    Okinawa       竹富町   339.033935
45      Tokyo      奥多摩町   225.667984
46      Osaka       大阪市   222.338895

### Q3. 都道府県ごとに市町村の総数が多い順に並べる

In [136]:
# " "のなかにSQL文を記述
sql = " select name_1, COUNT(id_2) as num_of_city from adm2 \
		group by name_1\
		order by num_of_city DESC"

In [137]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

       name_1  num_of_city
0    Hokkaido          180
1      Nagano           82
2     Saitama           70
3     Fukuoka           66
4       Aichi           64
5   Fukushima           60
6       Chiba           56
7       Tokyo           53
8    Kumamoto           48
9   Kagoshima           46
10    Ibaraki           45
11      Osaka           43
12       Gifu           43
13   Shizuoka           43
14    Okinawa           42
15      Hyōgo           41
16     Aomori           40
17       Nara           39
18      Gunma           38
19     Miyagi           36
20      Kochi           35
21   Yamagata           35
22      Iwate           35
23   Kanagawa           33
24    Niigata           31
25    Tochigi           31
26    Okayama           30
27   Miyazaki           30
28   Wakayama           29
29  Yamanashi           28
30        Mie           28
31      Shiga           27
32      Kyoto           26
33      Akita           25
34  Tokushima           24
35   Naoasaki           23
36  Hiroshima           23
37    Shimane           22
38       Saga           20
39      Ehime           20
40  Yamaguchi           20
41   Ishikawa           19
42       Oita           18
43    Tottori           18
44      Fukui           17
45     Toyama           15
46     Kagawa           14

### Q4. 都道府県ごとに村の総数が多い順に並べる

In [144]:
# " "のなかにSQL文を記述
sql = " select name_1, COUNT(*) as num_of_village from adm2 \
		where engtype_2 = 'Village' \
		group by name_1 \
		order by num_of_village DESC"

In [145]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

       name_1  num_of_village
0      Nagano              34
1     Okinawa              16
2    Hokkaido              15
3   Fukushima              13
4        Nara              11
5    Kumamoto               8
6      Aomori               7
7   Yamanashi               6
8       Iwate               6
9     Fukuoka               4
10      Kochi               4
11      Gunma               4
12    Niigata               3
13      Akita               3
14        Mie               2
15       Gifu               2
16    Ibaraki               2
17  Kagoshima               2
18      Aichi               2
19   Miyazaki               2
20    Okayama               2
21       Oita               1
22      Osaka               1
23    Shimane               1
24  Tokushima               1
25    Tottori               1
26     Toyama               1
27      Kyoto               1

In [ ]:
# カラム確認用
# " "のなかにSQL文を記述
sql = " select * from adm2 "

out = query_pandas(sql, 'gisdb') #specify db name
print(out)

       gid   id_0  iso name_0  id_1     name_1    id_2      name_2 type_2  \
0        1  114.0  JPN  Japan   1.0      Aichi     1.0        Agui  Machi
1        2  114.0  JPN  Japan   1.0      Aichi     2.0       Aisai    Shi
2        3  114.0  JPN  Japan   1.0      Aichi     3.0        Anjō    Shi
3        4  114.0  JPN  Japan   1.0      Aichi     4.0         Ōbu    Shi
4        5  114.0  JPN  Japan   1.0      Aichi     5.0      Ōguchi  Machi
...    ...    ...  ...    ...   ...        ...     ...         ...    ...
1806  1807  114.0  JPN  Japan  47.0  Yamanashi  1807.0    Tabayama   Mura
1807  1808  114.0  JPN  Japan  47.0  Yamanashi  1808.0       Tsuru    Shi
1808  1809  114.0  JPN  Japan  47.0  Yamanashi  1809.0    Uenohara    Shi
1809  1810  114.0  JPN  Japan  47.0  Yamanashi  1810.0  Yamanakako   Mura
1810  1811  114.0  JPN  Japan  47.0  Yamanashi  1811.0   Yamanashi    Shi

     engtype_2 nl_name_2 varname_2  \
0         Town      阿久比町      None
1         City       愛西市      None
2         City       安城市      None
3         City       大府市      None
4         Town       大口町      None
...        ...       ...       ...
1806   Village      丹波山村      None
1807      City       都留市      None
1808      City      上野原市      None
1809   Village      山中湖村      None
1810      City       山梨市      None

                                                   geom
0     0106000020E6100000010000000103000000010000005F...
1     0106000020E610000001000000010300000001000000B9...
2     0106000020E610000001000000010300000001000000E3...
3     0106000020E61000000100000001030000000100000090...
4     0106000020E61000000100000001030000000100000050...
...                                                 ...
1806  0106000020E6100000010000000103000000010000004C...
1807  0106000020E61000000100000001030000000100000066...
1808  0106000020E6100000010000000103000000010000006C...
1809  0106000020E6100000010000000103000000010000004B...
1810  0106000020E6100000010000000103000000010000007E...

[1811 rows x 13 columns]