# SQL for accessing spatial data on postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

## Task

F5. 埼玉県内の全鉄道駅の2020年4月（休日・昼間）の人口を、大きい順に並べ、最初の10件を示せ。

## prerequisites

In [1]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

/usr/local/lib/python3.8/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [2]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [13]:
sql = """
WITH pop20 AS (
    SELECT DISTINCT ON (p.name) 
        p.name, d.prefcode, d.year, d.month, d.population, p.geom
    FROM pop AS d
    INNER JOIN pop_mesh AS p ON p.name = d.mesh1kmid
    WHERE d.dayflag = '0'
      AND d.timezone = '0'
      AND d.year = '2020'
      AND d.month = '04'
)
SELECT 
    pt.name,
    SUM(pop20.population) AS total_population
FROM pop20, adm2 AS poly, planet_osm_point AS pt
WHERE
    pt.railway = 'station'
	AND poly.name_1 = 'Saitama' 
	AND st_within(pt.way, st_transform(pop20.geom, 3857))
    AND st_within(pop20.geom, poly.geom)
GROUP BY poly.name_1, pt.public_transport, pt.name
ORDER BY total_population DESC, pt.name ASC
LIMIT 10;
"""

## Outputs

In [14]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

   name  total_population
0    大宮          112490.0
1    川口           43673.0
2    川越           33884.0
3  武蔵浦和           26397.0
4    所沢           24941.0
5    浦和           23675.0
6   北浦和           23364.0
7    熊谷           23050.0
8  川口元郷           21696.0
9    草加           20461.0