# SQL for accessing spatial data on postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

## Task

F6. 埼玉県内の全鉄道駅において、2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201904)/pop_201904)を、小さい順に並べ、最初の10件を示せ。（出力は県名、駅名、人口増減率とすること）

## prerequisites

In [9]:
import os
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

In [10]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [11]:
# sql = """
# 		WITH
#         pop20 AS (
#             SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom
#             FROM pop AS d
#             INNER JOIN pop_mesh AS p
#                 ON p.name = d.mesh1kmid
#             WHERE d.dayflag='0' AND
#                 d.timezone='0' AND
#                 d.year='2020' AND
#                 d.month='04'
#         ),
#         pop19 AS (
#             SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom
#             FROM pop AS d
#             INNER JOIN pop_mesh AS p
#                 ON p.name = d.mesh1kmid
#             WHERE d.dayflag='0' AND
#                 d.timezone='0' AND
#                 d.year='2019' AND
#                 d.month='04'
#         )
#     SELECT poly.name_1, pt.name, sum(pop20.population-pop19.population/pop19.population) AS pc
#         FROM adm2 AS poly, planet_osm_point AS pt, pop_mesh AS p
#         INNER JOIN pop19 ON p.name = pop19.name
# 		INNER JOIN pop20 ON p.name = pop20.name
# 		WHERE	pt.railway = 'station' AND
# 			poly.name_1 = 'Saitama' AND
# 			st_within(pt.way, st_transform(poly.geom, 3857)) AND
#         	st_within(poly.geom, p.geom)
#     GROUP BY poly.name_1, pt.name
#     ORDER BY pc;
# """

sql = """
		WITH
        pop20 AS (
            SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom
            FROM pop AS d
            INNER JOIN pop_mesh AS p
                ON p.name = d.mesh1kmid
            WHERE d.dayflag='0' AND
                d.timezone='0' AND
                d.year='2020' AND
                d.month='04'
        ),
        pop19 AS (
            SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom
            FROM pop AS d
            INNER JOIN pop_mesh AS p
                ON p.name = d.mesh1kmid
            WHERE d.dayflag='0' AND
                d.timezone='0' AND
                d.year='2019' AND
                d.month='04'
        ),
		st AS (
			SELECT poly.name_1, pt.name AS name_2, p.name AS meshid
			FROM adm2 AS poly, planet_osm_point AS pt, pop_mesh AS p
			WHERE pt.railway = 'station' AND
				poly.name_1 = 'Saitama' AND
				st_within(pt.way, st_transform(poly.geom, 3857)) AND
				st_within(pt.way, st_transform(p.geom, 3857))
		)
    SELECT st.name_1, st.name_2, (sum(pop20.population)-sum(pop19.population))/sum(pop19.population) AS pc
        FROM st
        INNER JOIN pop19 ON st.meshid = pop19.name
		INNER JOIN pop20 ON st.meshid = pop20.name
    GROUP BY st.name_1, st.name_2
    ORDER BY pc
	LIMIT 10;
"""

## Outputs

In [12]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

    name_1    name_2       sum       sum        pc
0  Saitama  ハートフルランド    1548.0   28152.0 -0.945013
1  Saitama       三峰口     540.0    5877.0 -0.908116
2  Saitama     西武球場前   32688.0  255582.0 -0.872104
3  Saitama        白久     783.0    4446.0 -0.823887
4  Saitama       西吾野     207.0     828.0 -0.750000
5  Saitama        用土    1080.0    4095.0 -0.736264
6  Saitama        竹沢    1044.0    3762.0 -0.722488
7  Saitama       新三郷   31113.0  105156.0 -0.704125
8  Saitama       大麻生    1638.0    5328.0 -0.692568
9  Saitama   さいたま新都心  117270.0  308160.0 -0.619451