# SQL for accessing spatial data on postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

## Task

F7. 1都6県のそれぞれにおいて、2019年4月（休日・昼間）と2020年4月（休日・昼間）の人口増減率 ((pop_202004 - pop_201901)/pop_201904)が一番小さい駅を示せ（出力は県名、駅名、人口増減率とすること）。

## prerequisites

In [1]:
import os
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

In [2]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [3]:
sql = """
	WITH
	    pop20 AS (
	        SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom
	        FROM pop AS d
	        INNER JOIN pop_mesh AS p
	            ON p.name = d.mesh1kmid
	        WHERE (d.dayflag='0' OR d.dayflag='1') AND
	            d.timezone='0' AND
	            d.year='2020' AND
	            d.month='04'
	    ),
	    pop19 AS (
	        SELECT p.name, d.prefcode, d.year, d.month, d.population, p.geom
	        FROM pop AS d
	        INNER JOIN pop_mesh AS p
	            ON p.name = d.mesh1kmid
	        WHERE (d.dayflag='0' OR d.dayflag='1') AND
	            d.timezone='0' AND
	            d.year='2019' AND
	            d.month='04'
	    ),
	    st AS (
    	    SELECT poly.name_1, pt.name AS name_2, p.name AS meshid
	   	    FROM adm2 AS poly, planet_osm_point AS pt, pop_mesh AS p
	        WHERE pt.railway = 'station' AND
	            poly.name_1 IN ('Tokyo', 'Gunma', 'Tochigi', 'Ibaraki', 'Chiba', 'Saitama', 'Kanagawa') AND
	            st_within(pt.way, st_transform(poly.geom, 3857)) AND
	            st_within(pt.way, st_transform(p.geom, 3857))
	    ),
	    pcs AS (
	        SELECT st.name_1, st.name_2, 
	               (SUM(pop20.population) - SUM(pop19.population)) / SUM(pop19.population) AS pc
	        FROM st
	        INNER JOIN pop19 ON st.meshid = pop19.name
	        INNER JOIN pop20 ON st.meshid = pop20.name
	        GROUP BY st.name_1, st.name_2
	    )
	SELECT name_1, name_2, pc
	FROM (
	    SELECT name_1, name_2, pc,
	           ROW_NUMBER() OVER (PARTITION BY name_1 ORDER BY pc) AS rn
	    FROM pcs
	) ranked
	WHERE rn = 1
	ORDER BY pc;
"""

## Outputs

In [ ]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

In [ ]:
自pcでは200分待っても出力されませんでした